#define APP_ICON_RESOURCE_ID 101
#define NAV_BACK_ICON_RESOURCE_ID 102
#define NAV_FORWARD_ICON_RESOURCE_ID 103
#define NAV_UP_ICON_RESOURCE_ID 104
#define NAV_REFRESH_ICON_RESOURCE_ID 105
#define NAV_GO_ICON_RESOURCE_ID 106
#define SEARCH_CANCEL_ICON_RESOURCE_ID 107
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define RT_MANIFEST 24

APP_ICON_RESOURCE_ID ICON "icon.ico"
NAV_BACK_ICON_RESOURCE_ID ICON "assets/icons/nav_back.ico"
NAV_FORWARD_ICON_RESOURCE_ID ICON "assets/icons/nav_forward.ico"
NAV_UP_ICON_RESOURCE_ID ICON "assets/icons/nav_up.ico"
NAV_REFRESH_ICON_RESOURCE_ID ICON "assets/icons/nav_refresh.ico"
NAV_GO_ICON_RESOURCE_ID ICON "assets/icons/nav_go.ico"
SEARCH_CANCEL_ICON_RESOURCE_ID ICON "assets/icons/search_cancel.ico"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"
